<div class="jumbotron">
    <div class="dropdown open">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenu5" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          ChefUp
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#!">Action</a>
          <a class="dropdown-item disabled" href="#!">Disabled action</a>
        </div>
      </div>
  <div class="container text-center">
    <h1>ChefUp</h1>      
    <p>Mission, Vision & Meals</p>
  </div>
  <nav class="navbar navbar-light bg-light">
      <span class="navbar-text">
        Enter an ingredient.
      </span>
    </nav>
</div>


<h3>Explore Reciepes</h3>
<div class="card">
  <img class="card-img-top" src="/tacos.jpg" alt="Tacos">
  <div class="card-body">
    <h4 class="card-title">Tacos Al Pastor</h4>
    <p class="card-text">
      Delcious Tacos Al Pastor
    </p>
    <a href="#!" class="btn btn-primary">See receipe</a>
  </div>
</div>



 