<div class="container text-center">
    <h1>ChefUp</h1>
    <p>Mission, Vision & Meals</p>
  </div>
  <input #box (keyup.enter)="onEnter(box.value)">


<h3 class="text-center">Explore Recipes</h3>
<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>
            S.No.
          </th>
          <th>
            RecipeName
          </th>
          <th>
            Ingredients
          </th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let repData of RecipeList; let i = index; trackBy: recipeId">


          <td>
            {{i+1}}
          </td>
          <td>
            {{repData.recipeName}}
          </td>
          <td>
            {{repData.ingredients}}
          </td>
        </tr>

    </table>
  </div>
</div>
