  <div id="upper-page">
    <h1 id="title" class="left-margin header">ChefUp</h1>
    <h2 id="title-description" class="left-margin">Find the best foods to eat</h2>
    <input id="search-bar" class="left-margin" #box (keyup.enter)="onEnter(box.value)" placeholder="Enter an ingredient, dish, cuisine, etc.">
    <hr>
  </div>
  <h1 class="text-center header">Explore Recipes</h1>
  <table class="table">
    <thead>
      <tr>
        <th>
          S.No.
        </th>
        <th>
          RecipeName
        </th>
        <th>
          Ingredients
        </th>
      </tr>
    </thead>
    <tbody>


        <tr *ngFor="let repData of RecipeList; let i = index; trackBy: recipeId">
          <td>
            {{i+1}}
          </td>
          <td>
            {{repData.recipeName}}
          </td>
          <td>
            {{repData.ingredients}}
          </td>
        </tr>

</tbody>
  </table>
